:host > div{
    --die-size: 94px;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: var(--die-size);
    height: var(--die-size);
    border-radius: 5px;
}
:host > div > div{
    text-align: center;
    vertical-align: middle;
    line-height: calc(var(--die-size) / 3);    
}
.level{
    grid-column: 1;
    grid-row: 1;
}
.attack{
    grid-column: 3;
    grid-row: 1;
}
.defense{
    grid-column: 3;
    grid-row: 3;
}
.burst{
    grid-column: 1;
    grid-row: 3;
    text-orientation: upright;
}
.icon{
    line-height: var(--die-size);
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    background-size:80%;
    background-repeat: no-repeat;
    background-position: center;
}
